[submodule "Pegasus/vendor/spdlog"]
	path = Pegasus/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pegasus/vendor/GLFW"]
	path = Pegasus/vendor/GLFW
	url = https://github.com/TheCherno/glfw
